/* BEM Methodology (Block Element Modifier) */
/* Naming convention/rules block--modifier-value */

/* GENERAL BODY STYLING */
.body {
    font-family: 'Montserrat', sans-serif;
  }

/* AUTHENTICATED CASE */

  /* LIST CASAS TABLE */
  .table--list-casas {
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
  }

  /* LIST CASAS LINKS */
  .table--list-casas a:link {
    color: rgba(26, 94, 230, 0.884); 
    background-color: transparent; 
    text-decoration: none;
  }
  
  .table--list-casas a:visited {
    color: rgba(145, 26, 230, 0.884);
    background-color: transparent;
    text-decoration: none;
  }
  
  .table--list-casas a:hover {
    color: rgb(4, 36, 99);
    background-color: transparent;
    text-decoration: underline;
  }