/* BEM Methodology (Block Element Modifier) */
/* Naming convention/rules block--modifier-value */

/* GENERAL BODY STYLING */
.body {
    font-family: 'Montserrat', sans-serif;
  }

/* AUTHENTICATED CASE */

  /* LIST CASAS TABLE */
  .table--list-casas {
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
  }

  /* LIST CASAS LINKS */
  .table--list-casas a:link {
    color: rgba(26, 94, 230, 0.884); 
    background-color: transparent; 
    text-decoration: none;
  }
  
  .table--list-casas a:visited {
    color: rgba(145, 26, 230, 0.884);
    background-color: transparent;
    text-decoration: none;
  }
  
  .table--list-casas a:hover {
    color: rgb(4, 36, 99);
    background-color: transparent;
    text-decoration: underline;
  }

  /* Styling casaDetails content */
  .container h4 {
    text-align: center;
    align-items: center;
    align-content: center;
  }

  /* Styling casaDetails Charts */
  canvas{
    margin-left: 25%;
  }
  
  /* AUTHENTICATED CASE */
  
  .row {
    margin-top: 3.5%;
    margin-bottom: 3.5%;
  }
  
  .row .col-4, .row .col-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .row .col-4 #normalData, .row .col-6 #normalData {
    background-color: rgb(49, 49, 49);
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 14px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .row .col-4 strong, .row .col-6 strong {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.45rem;
    color: black;
  }
  
  .row .col-4 .Malo, .row .col-6 .Malo {
    background-color: rgb(49, 49, 49);
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 14px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .row .col-4 .Malo strong, .row .col-6 .Malo strong {
    background-color: red;
    border-radius: 14px;
    padding: 0.6px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.45rem;
    color: black;
  }
  
  .row .col-4 .Estandar, .row .col-6 .Estandar {
    background-color: rgb(49, 49, 49);
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 14px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .row .col-4 .Estandar strong, .row .col-6 .Estandar strong {
    background-color: rgb(238, 108, 1);
    border-radius: 14px;
    padding: 0.6px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.45rem;
    color: black;
  }
  
  .row .col-4 .Bueno, .row .col-6 .Bueno {
    background-color: rgb(49, 49, 49);
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 14px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .row .col-4 .Bueno strong, .row .col-6 .Bueno strong {
    background-color: rgb(2, 170, 2);
    border-radius: 14px;
    padding: 0.6px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.45rem;
    color: black;
  }